{% extends 'base/base.html' %}


{% block style %}
    <style>
        body{
            min-height:100vh;
        }

        .my_card { 
            position: relative;
            width: 850px;
            height:400px;
            top: 65px;
        }

        .content{
            display: flex;
            flex-direction: column;
            position: relative;
            top: 40%;
            width: 100%;
        }

        footer {
            position: relative;
            top: 75px;
        }
    </style>
{% endblock style %}


{% block section %}
    <div class="container card my_card mt-5">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3"></div>
            {% include 'base/msg.html' %}
    
            <div class="content">
                <h2 class="text-center alert-heading">Reset Password</h2>
                <p>Please check your inbox and follow the instruction to reset your password.
                    <a href="http://www.gmail.com">Click here to reset your password!!</a>
                </p>
            </div>
        </div>
    </div>

{% endblock section %}