{%extends 'base/base.html'%}

{%block section%}


{% block style %}
    <style>
        .my_card { 
            position: relative;
            width: 450px;
            height:400px;
            padding:20px;
            top: 100px;
            margin: auto;
        }

        footer {
            position: relative;
            top: 75px;
        }
    </style>
{% endblock style %}


<div class="card card center my_card mb-5">
	<p class="text-center">Your password has been changed successfully. <br> Please <a href="{% url 'login' %}">Login</a></p>
</div>
 	
{%endblock section%}